# Python

__pycache__/
*.pyc

# Internal project documentation

docs/

# Virtual environments

.venv/
venv/


# Environment files

.env


# Local databases

*.db


# Reticulum identities

rsqlite-server-test
rsqlite-test-client


# Local test configuration

rsqlite-acl.conf
rsqlite-unauthorized.conf


# Local project notes

rSQLite_Roadmap_Migliorie.docx
rSQLite_Roadmap_Migliorie.pages


# macOS

.DS_Store

*.egg-info/
dist/
rsqlite-server.conf
